<div class="footer-font">
    ...and I know you do too!
    <br />
    <br />
    Developed by
    <a href="https://github.com/noahboerger">Noah Börger</a>
    <br/>
    Supervised by
    <a
        href="https://www.fernuni-hagen.de/mi/fakultaet/lehrende/bergenthum/index.shtml"
    >Robin Bergenthum</a
    >
    <br />
    Fakultät für Mathematik und Informatik
    <br />
    Fernuni in Hagen, Germany
    <br />
    <a href="https://www.fernuni-hagen.de/service/impressum.shtml">Impressum</a>
    ·
    <a href="https://www.fernuni-hagen.de/service/datenschutz.shtml"
        >Datenschutz</a
    >
</div>
