.spacer {
    flex: 1 1 auto;
}

.more-space {
    margin-right: 5px;
}

.down-space {
    margin-bottom: 10px;
}

.dialog-button {
    background-color: lightgray
}

mat-radio-button {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.download-settings-button {
    margin-left: 50px;
    background-color: lightgray
}

.drag-and-drop-div {
    border: 5px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.file-over {
    border: 5px dotted gray;
}
