<p>
    <mat-toolbar matDialogTitle>
        <mat-icon class="more-space">settings</mat-icon>
        <span>rST-Miner Settings</span>
        <span class="spacer"></span>
        <mat-icon>menu</mat-icon> <!-- TODO download settings button -->
    </mat-toolbar>
</p>

<mat-dialog-content class="mat-typography">
    <div class="down-space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Process Model Characteristics
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Workflow Net</p>
                <p>Edge Weights</p>
            </mat-expansion-panel>


            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Process Model Optimizations
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Noise Reduction</p>
                <p>Implicit Place Removal</p>
            </mat-expansion-panel>


            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Initialization Phase
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Concurrency Oracle</p>
            </mat-expansion-panel>


            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Random Place Generator
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Choose between different generators</p>
            </mat-expansion-panel>


            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Termination Condition
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-radio-group [(ngModel)]="actTerminationConditionSimpleName">
                    <div style="float: left;">
                        <span
                            *ngFor="let terminationTypeSimpleName of MinerSettings.terminationTypesSimpleNames">
                            <mat-radio-button
                                value="{{ terminationTypeSimpleName }}">{{ terminationTypeSimpleName }}</mat-radio-button>

                            <div
                                *ngIf="rstMinerDataService.minerSettings.terminationCondition.getSimpleName() === terminationTypeSimpleName"
                                [ngSwitch]="terminationTypeSimpleName">
                                <span *ngSwitchCase="LoopBasedTermination.SIMPLE_NAME">
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Amount of iterations</mat-label>
                                        <input matInput placeholder="Default {{ LoopBasedTermination.DEFAULT_ITERATIONS }}"
                                               type="number"
                                               [(ngModel)]="loopTerminationIterations">
                                    </mat-form-field>
                                </span>
                                <input *ngSwitchCase="TimeBasedTermination.SIMPLE_NAME">
                            </div>
                            <br>
                        </span>
                    </div>
                </mat-radio-group>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button [mat-dialog-close]="true" class="dialog-button" mat-button (click)="rstMinerDataService.resetMinerSettingsToDefault()">Reset to Default</button> <!-- TODO onclick -->
    <button [mat-dialog-close]="true" class="dialog-button" mat-button>Apply & Close</button>
</mat-dialog-actions>
