<div
    (fileDropped)="readMinerSettingsFile($event)"
    appDragDropFileUpload
    class="drag-and-drop-div">
    <p>
        <mat-toolbar matDialogTitle>
            <mat-icon class="more-space">settings</mat-icon>
            <span>rST-Miner Settings</span>
            <span class="spacer"></span>
            <button
                (click)="downloadMinerSettingsJsonFile()"
                class="download-settings-button"
                mat-icon-button>
                <mat-icon>download</mat-icon>
            </button>
        </mat-toolbar>
    </p>

    <mat-dialog-content class="mat-typography">
        <div class="down-space">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Process Model Characteristics
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .processModelCharacteristics.placesEmptyAtEnd
                        ">
                        Places empty after replay
                    </mat-checkbox>
                    <br />
                    <mat-checkbox
                        [disabled]="true"
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .processModelCharacteristics.workflowNet
                        ">
                        Workflow net
                    </mat-checkbox>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Process Model Optimizations
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p><b>Noise Reduction</b></p>
                    <mat-radio-group [(ngModel)]="actNoiseReductionSimpleName">
                        <div class="full-width" style="float: left">
                            <span
                                *ngFor="
                                    let noiseReductionTypeSimpleName of MinerSettings.noiseReductionTypesSimpleNames
                                ">
                                <mat-radio-button
                                    value="{{ noiseReductionTypeSimpleName }}"
                                    >{{
                                        noiseReductionTypeSimpleName
                                    }}</mat-radio-button
                                >

                                <div
                                    *ngIf="
                                        rstMinerDataService.minerSettings
                                            .noiseReduction.simpleName ===
                                            noiseReductionTypeSimpleName &&
                                        rstMinerDataService.minerSettings
                                            .noiseReduction.simpleName !==
                                            NoNoiseReductionConfig.SIMPLE_NAME
                                    "
                                    [ngSwitch]="noiseReductionTypeSimpleName">
                                    <span
                                        *ngSwitchCase="
                                            PreprocessingNoiseReductionConfig.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Minimal fitting
                                                Proportion</mat-label
                                            >
                                            <input
                                                [(ngModel)]="
                                                    preprocessingNoiseReductionFittingProportion
                                                "
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                placeholder="Default {{
                                                    PreprocessingNoiseReductionConfig.DEFAULT_FITTING_PROPORTION
                                                }}"
                                                type="number" />
                                        </mat-form-field>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            PlaceEvaluationNoiseReductionConfig.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Minimal fitting
                                                Proportion</mat-label
                                            >
                                            <input
                                                [(ngModel)]="
                                                    placeEvaluationNoiseReductionFittingProportion
                                                "
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                placeholder="Default {{
                                                    PlaceEvaluationNoiseReductionConfig.DEFAULT_FITTING_PROPORTION
                                                }}"
                                                type="number" />
                                        </mat-form-field>
                                    </span>
                                </div>
                                <br />
                            </span>
                        </div>
                    </mat-radio-group>
                    <p><b>Implicit Place Removal</b></p>
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .implicitPlaceIdentification
                                .isPlaceRemovalEnabled
                        ">
                        Implicit Place Removal
                    </mat-checkbox>

                    <div
                        *ngIf="
                            rstMinerDataService.minerSettings
                                .implicitPlaceIdentification
                                .isPlaceRemovalEnabled
                        ">
                        <mat-checkbox
                            [(ngModel)]="
                                rstMinerDataService.minerSettings
                                    .implicitPlaceIdentification
                                    .isCalculateSubstitutePlacesEnabled
                            "
                            >Calculate Substitute Places
                        </mat-checkbox>

                        <div
                            *ngIf="
                                rstMinerDataService.minerSettings
                                    .implicitPlaceIdentification
                                    .isCalculateSubstitutePlacesEnabled
                            ">
                            <mat-checkbox
                                [(ngModel)]="
                                    rstMinerDataService.minerSettings
                                        .implicitPlaceIdentification
                                        .isValidateSubstituteArcWeightsEnabled
                                "
                                >Substitute Places Weight Validation
                            </mat-checkbox>
                            <br />
                            <mat-checkbox
                                [(ngModel)]="
                                    rstMinerDataService.minerSettings
                                        .implicitPlaceIdentification
                                        .isMaxDeepnessEnabled
                                "
                                >Max Substitute Calculation Deepness
                            </mat-checkbox>

                            <div
                                *ngIf="
                                    rstMinerDataService.minerSettings
                                        .implicitPlaceIdentification
                                        .isMaxDeepnessEnabled
                                ">
                                <mat-form-field
                                    appearance="fill"
                                    class="full-width">
                                    <mat-label
                                        >Substitute Place Calculation Deepness
                                        Limit</mat-label
                                    >
                                    <input
                                        [(ngModel)]="
                                            rstMinerDataService.minerSettings
                                                .implicitPlaceIdentification
                                                .maxDeepness
                                        "
                                        matInput
                                        min="1"
                                        placeholder="Default {{
                                            ImplicitPlaceIdentificationConfig.DEFAULT_MAX_DEEPNESS
                                        }}"
                                        type="number" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Initialization Phase
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p><b>Concurrency Oracle</b></p>
                    <mat-radio-group
                        [(ngModel)]="actConcurrencyOracleSimpleName">
                        <div class="full-width" style="float: left">
                            <span
                                *ngFor="
                                    let concurrencyOracleTypeSimpleName of MinerSettings.concurrencyOracleTypesSimpleNames
                                ">
                                <mat-radio-button
                                    value="{{
                                        concurrencyOracleTypeSimpleName
                                    }}"
                                    >{{
                                        concurrencyOracleTypeSimpleName
                                    }}</mat-radio-button
                                >

                                <div
                                    *ngIf="
                                        rstMinerDataService.minerSettings
                                            .concurrencyOracle.simpleName ===
                                            concurrencyOracleTypeSimpleName &&
                                        rstMinerDataService.minerSettings
                                            .concurrencyOracle.simpleName !==
                                            NoneOracle.SIMPLE_NAME
                                    "
                                    [ngSwitch]="
                                        concurrencyOracleTypeSimpleName
                                    ">
                                    <span
                                        *ngSwitchCase="AlphaOracle.SIMPLE_NAME">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Look Ahead Distance</mat-label
                                            >
                                            <input
                                                [(ngModel)]="
                                                    alphaOracleLookAheadDistance
                                                "
                                                matInput
                                                min="0"
                                                placeholder="Default {{
                                                    AlphaOracle.DEFAULT_LOOK_AHEAD_DISTANCE
                                                }}"
                                                type="number" />
                                        </mat-form-field>
                                        <br />
                                        <mat-checkbox
                                            [(ngModel)]="
                                                concurrencyOracleDistinguishSameEvents
                                            ">
                                            Distinguish same Events
                                        </mat-checkbox>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            TimestampOracle.SIMPLE_NAME
                                        ">
                                        <mat-checkbox
                                            [(ngModel)]="
                                                concurrencyOracleDistinguishSameEvents
                                            ">
                                            Distinguish same Events
                                        </mat-checkbox>
                                    </span>
                                </div>
                                <br />
                            </span>
                        </div>
                    </mat-radio-group>
                    <p><b>Eventlog Transformation to Partial Orders</b></p>
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .partialOrderTransformation.cleanLifecycle
                        ">
                        Clean Lifecycle Events
                    </mat-checkbox>
                    <br />
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .partialOrderTransformation.addStartStopEvent
                        ">
                        Add Start and Stop Event
                    </mat-checkbox>
                    <br />
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .partialOrderTransformation.discardPrefixes
                        ">
                        Discard prefixes
                    </mat-checkbox>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Random Place Generator
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-radio-group
                        [(ngModel)]="actRandomPlaceGeneratorSimpleName">
                        <div class="full-width" style="float: left">
                            <span
                                *ngFor="
                                    let randomPlaceGeneratorTypeSimpleName of MinerSettings.randomPlaceGeneratorTypesSimpleNames
                                ">
                                <mat-radio-button
                                    value="{{
                                        randomPlaceGeneratorTypeSimpleName
                                    }}"
                                    >{{
                                        randomPlaceGeneratorTypeSimpleName
                                    }}</mat-radio-button
                                >

                                <div
                                    *ngIf="
                                        rstMinerDataService.minerSettings
                                            .randomPlaceGenerator.simpleName ===
                                        randomPlaceGeneratorTypeSimpleName
                                    "
                                    [ngSwitch]="
                                        randomPlaceGeneratorTypeSimpleName
                                    ">
                                    <span
                                        *ngSwitchCase="
                                            PrimitiveGenerator.SIMPLE_NAME
                                        ">
                                        <p><b>Maximum initial Marking</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Tokens up to</mat-label>
                                            <input
                                                matInput
                                                min="0"
                                                max="100"
                                                placeholder="Default {{
                                                    PrimitiveGenerator.DEFAULT_MAXIMAL_INITIAL_MARKING
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    primitiveGeneratorMaximalInitialMarking
                                                " />
                                        </mat-form-field>
                                        <p><b>Connection Probability</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Ingoing Arcs</mat-label>
                                            <input
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                placeholder="Default {{
                                                    PrimitiveGenerator.DEFAULT_INGOING_CONNECTION_PROBABILITY
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    primitiveGeneratorIngoingProbability
                                                " />
                                        </mat-form-field>
                                        <br />
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Outgoing Arcs</mat-label>
                                            <input
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                placeholder="Default {{
                                                    PrimitiveGenerator.DEFAULT_OUTGOING_CONNECTION_PROBABILITY
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    primitiveGeneratorOutgoingProbability
                                                " />
                                        </mat-form-field>
                                        <p><b>Maximum Arc Weights</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Ingoing Arc Weights</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                max="100"
                                                placeholder="Default {{
                                                    PrimitiveGenerator.DEFAULT_MAXIMAL_INGOING_ARC_WEIGHTS
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    primitiveGeneratorMaximalIngoingArcWeights
                                                " />
                                        </mat-form-field>
                                        <br />
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Outgoing Arc Weights</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                max="100"
                                                placeholder="Default {{
                                                    PrimitiveGenerator.DEFAULT_MAXIMAL_OUTGOING_ARC_WEIGHTS
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    primitiveGeneratorMaximalOutgoingArcWeights
                                                " />
                                        </mat-form-field>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            GeometricDistributionGeneratorConfig.SIMPLE_NAME
                                        ">
                                        <p><b>Maximum initial Marking</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Tokens up to</mat-label>
                                            <input
                                                matInput
                                                min="0"
                                                max="100"
                                                placeholder="Default {{
                                                    GeometricDistributionGeneratorConfig.DEFAULT_MAXIMAL_INITIAL_MARKING
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    geometricDistributionGeneratorMaximalInitialMarking
                                                " />
                                        </mat-form-field>
                                        <p><b>Geometric Probabilities</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Increase initial Marking
                                                Probability</mat-label
                                            >
                                            <input
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                [disabled]="
                                                    geometricDistributionGeneratorMaximalInitialMarking ===
                                                    0
                                                "
                                                placeholder="Default {{
                                                    GeometricDistributionGeneratorConfig.DEFAULT_GEOMETRIC_INCREASE_INITIAL_MARKING_PROBABILITY
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    geometricDistributionGeneratorGeometricIncreaseInitialMarkingProbability
                                                " />
                                        </mat-form-field>
                                        <br />
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Increase Arcs
                                                Probability</mat-label
                                            >
                                            <input
                                                matInput
                                                min="0"
                                                max="1"
                                                step="0.01"
                                                placeholder="Default {{
                                                    GeometricDistributionGeneratorConfig.DEFAULT_GEOMETRIC_INCREASE_ARCS_PROBABILITY
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    geometricDistributionGeneratorGeometricIncreaseArcsProbability
                                                " />
                                        </mat-form-field>
                                        <p><b>Maximum Arc Weights</b></p>
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Ingoing Arc Weights</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                max="100"
                                                placeholder="Default {{
                                                    GeometricDistributionGeneratorConfig.DEFAULT_MAXIMAL_INGOING_ARC_WEIGHTS
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    geometricDistributionGeneratorMaximalIngoingArcWeights
                                                " />
                                        </mat-form-field>
                                        <br />
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Outgoing Arc Weights</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                max="100"
                                                placeholder="Default {{
                                                    GeometricDistributionGeneratorConfig.DEFAULT_MAXIMAL_OUTGOING_ARC_WEIGHTS
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    geometricDistributionGeneratorMaximalOutgoingArcWeights
                                                " />
                                        </mat-form-field>
                                    </span>
                                </div>
                                <br />
                            </span>
                        </div>
                    </mat-radio-group>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Termination Condition
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox
                        [(ngModel)]="
                            terminationNoChangeSinceEnabled
                        "
                        [disabled]="terminationNoChangeSinceEnabledCheckboxDisabled">
                        Reset on new discoverd Place
                    </mat-checkbox>
                    <br />
                    <br />
                    <mat-radio-group
                        [(ngModel)]="actTerminationConditionSimpleName">
                        <div class="full-width" style="float: left">
                            <span
                                *ngFor="
                                    let terminationTypeSimpleName of MinerSettings.terminationTypesSimpleNames
                                ">
                                <mat-radio-button
                                    value="{{ terminationTypeSimpleName }}"
                                    >{{
                                        terminationTypeSimpleName
                                    }}</mat-radio-button
                                >

                                <div
                                    *ngIf="
                                        rstMinerDataService.minerSettings
                                            .terminationCondition.simpleName ===
                                        terminationTypeSimpleName
                                    "
                                    [ngSwitch]="terminationTypeSimpleName">
                                    <span
                                        *ngSwitchCase="
                                            LoopBasedTermination.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Amount of iterations</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                placeholder="Default {{
                                                    LoopBasedTermination.DEFAULT_ITERATIONS
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    loopTerminationIterations
                                                " />
                                        </mat-form-field>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            EvaluatedPlacesTerminationConfig.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label
                                                >Amount of evaluated
                                                Places</mat-label
                                            >
                                            <input
                                                matInput
                                                min="1"
                                                placeholder="Default {{
                                                    EvaluatedPlacesTerminationConfig.DEFAULT_AMOUNT_EVALUATED_OF_PLACES
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    placeEvaluationTerminationAmount
                                                " />
                                        </mat-form-field>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            TimeBasedTermination.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Duration</mat-label>
                                            <input
                                                matInput
                                                min="0"
                                                placeholder="Default {{
                                                    TimeBasedTermination.DEFAULT_DURATION
                                                }}"
                                                type="number"
                                                [(ngModel)]="
                                                    timeTerminationDuration
                                                " />
                                        </mat-form-field>
                                        <br />
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                            <mat-label>Time Unit</mat-label>
                                            <mat-select
                                                [(value)]="durationTimeUnit">
                                                <mat-option
                                                    *ngFor="
                                                        let timeUnit of TimeBasedTermination.SUPPORTED_TIME_UNITS
                                                    "
                                                    [value]="timeUnit">
                                                    {{ timeUnit }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </span>

                                    <span
                                        *ngSwitchCase="
                                            PetriNetStateReachedTerminationConfig.SIMPLE_NAME
                                        ">
                                        <mat-form-field
                                            appearance="fill"
                                            class="full-width">
                                          <mat-label>Expected Petri Net</mat-label>
                                          <mat-select
                                              [(value)]="petriNetStateTerminationStandardProcessModelNetTypeStringValue">
                                            <mat-option
                                                *ngFor="let standardProcessModelType of standardProcessModelNetTypeStringValues"
                                                [value]="standardProcessModelType">
                                              {{standardProcessModelType}}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                        <br/>
                                        <mat-form-field appearance="fill"
                                                        class="full-width">
                                          <mat-label>Used Petri Net</mat-label>
                                          <textarea
                                              [(ngModel)]="petriNetStateTerminationPetriNetString"
                                              [disabled]="petriNetStateTerminationPetriNetStringFieldDisabled"
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMaxRows="25"
                                              cdkAutosizeMinRows="4"
                                              cdkTextareaAutosize
                                              matInput></textarea>
                                        </mat-form-field>
                                    </span>
                                </div>
                                <br />
                            </span>
                        </div>
                    </mat-radio-group>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Download Results</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .isDownloadPetriNetEnabled
                        ">
                        Download PetriNet
                    </mat-checkbox>
                    <br />
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .isDownloadReportEnabled
                        ">
                        Download Report
                    </mat-checkbox>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Debug Mode</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox
                        [(ngModel)]="
                            rstMinerDataService.minerSettings
                                .isDebugModusEnabled
                        ">
                        Enabled
                    </mat-checkbox>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
    <button
        (click)="rstMinerDataService.resetMinerSettingsToDefault()"
        [mat-dialog-close]="true"
        class="dialog-button"
        mat-button>
        Reset to Default
    </button>
    <button [mat-dialog-close]="true" class="dialog-button" mat-button>
        Apply & Close
    </button>
</mat-dialog-actions>
