<div fxLayout="row" fxLayoutAlign="space-evenly start">
    <app-upload-button
        class="vertical-center"
        [permittedFileExtensions]="['xes', 'log', 'txt']"
        (newFileUploadedEventExtensionContent)="processImport($event)"></app-upload-button>

    <span style="text-align: center">
        <img (mouseenter)="hoverStart($event)"
             (mouseleave)="hoverEnd($event)"
             (click)="openMinerSettingsDialog()"
             appDragDropFileUpload
             (fileDropped)="readMinerSettingsFile($event)"
             class="algorithmus-symbol"
             src="assets/images/algorithmus-symbol.png">
        <h4>Settings</h4>
    </span>

    <download-button
        class="vertical-center"
        buttonText="Right button"
        buttonIcon="grade"></download-button>
</div>
<div class="loading-screen" *ngIf="loading$ | async">
    <mat-progress-spinner diameter="250" [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<!-- TODO make images and upload download work -->
