<div fxLayout="row" fxLayoutAlign="space-evenly start">
    <app-upload-button
        class="vertical-center"
        [permittedFileExtensions]="['xes', 'log', 'txt']"
        (newFileUploadedEventExtensionContent)="
                        processImport($event)
                    "></app-upload-button>
    <img class="algorithmus-symbol" src="assets/images/algorithmus-symbol.png">
    <app-template-button
        class="vertical-center"
        buttonText="Right button"
        buttonIcon="grade"></app-template-button>
</div>
<div class="loading-screen" *ngIf="loading$ | async">
    <mat-progress-spinner diameter="250" [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<!-- TODO make images and upload download work -->
